*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --main-color : #00108a;
  --inputs-border : rgb(80, 80, 80);
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #10027c;
}

.header-logo img{
  height: 100px;
}

.main-container{
  height: 60vh;
  background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(50, 240, 129, 1) 39%, rgba(255, 237, 74, 1) 100%);
}


.nav-container ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}

.nav-container ul li{
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  color: white;
  border-right: 3px solid rgba(255, 255, 255, 0.455);
  
}

.nav-container ul li a{
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}

.nav-container ul li a:hover{
  letter-spacing: 3px;
}

.main-container{

}

.main-header{
  position: relative;
  top: 50px;
  left: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  font-weight: 900;

}

.main-info{
  position: relative;
  top: 100px;
  left: 100px;
  color:white;

}

.main-info button{
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.863);
  color:white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.main-info button:hover{
  background-color: rgb(4, 4, 100);
}

.info-container{
  display: flex;
  flex-direction: row;
  margin:100px 50px;
  border: 0.2px solid grey;
  border-radius: 15px;
  box-shadow: 10px 15px 45px rgb(164, 164, 164);
}

.info-banner{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;

}



.info-text{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.info-text h1{
  font-size:4rem;
  font-weight: 800;
  color:var(--main-color)
}

.info-text input{
  width: max-content;
  margin: 10px;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 10px;
}

.info-text button{
  margin: 20px;
  font-size: x-large;
  width: max-content;
  border: none;
  border-radius: 10px;
  padding: 15px;
  color:white;
  background-color: var(--main-color);
}




