*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --main-color : #00108a;
  --text-color : rgb(86, 86, 86);
  --inputs-border : rgb(80, 80, 80);

}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #10027c;
}

.header-logo img{
  height: 100px;
}

.main-container{
  height: 60vh;
  background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(50, 240, 129, 1) 39%, rgba(255, 237, 74, 1) 100%);
}


.nav-container ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}

.nav-container ul li{
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  color: white;
  border-right: 3px solid rgba(255, 255, 255, 0.455);
  
}

.nav-container ul li a{
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  transition: 0.5s ease;
}

.nav-container ul li a:hover{
  letter-spacing: 4px;
}

.main-container{

}

.main-header{
  position: relative;
  top: 50px;
  left: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  font-weight: 900;

}

.main-info{
  position: relative;
  top: 100px;
  left: 100px;
  color:white;

}

.main-info button{
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color:var(--main-color);
  color:white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.main-info button:hover{
  background-color:#031cda;
}

.info-container{
  display: flex;
  flex-direction: row;
  margin:100px 50px;
  border-radius: 15px;
  box-shadow: 10px 15px 45px rgb(164, 164, 164);
}

.info-banner{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;

}



.info-text{
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

.info-text h1{
  font-size:4rem;
  font-weight: 800;
  color:var(--main-color)
}

.info-text input{
  width: max-content;
  margin: 10px 6px;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 10px;
}

.info-text button{
  margin:15px 6px;
  font-size: large;
  width: max-content;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color:white;
  background-color: var(--main-color);
  cursor: pointer;
  transition: 0.6s ease;
}

.info-text button:hover{
  background-color: #031cda;
}



.zabiegi-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.zabieg{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 30vw;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.12);
  overflow: hidden;

}

.zabiegi-items a{
  text-decoration: none;
  transition: 0.3s ease;
}

.zabiegi-items a:hover{
  transform: scale(1.02);
}

.zabieg h1{
  padding: 10px;
  color: var(--main-color);
}

.zabieg p{
  padding: 10px;
  color: var(--inputs-border);
  

}

.zabieg img{
  width: 100%;
  height: 300px;
  object-fit:cover;
  object-position: 50% 100%;
}

.footer-container{
  height: 60vh;
  background-image: url('./img/gabinet_1.jpeg');
  background-position: center;
  background-size: cover;
}


.footer-items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 20px;
  background-color: rgba(29, 88, 166, 0.701);
  color:white;
  text-align: center;
}

.footer-godziny{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-mapa{
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.footer-mapa img{
  width: 300px;
  height: 250px;
  object-fit: cover;
  transition: 0.6s ease;
  border-radius: 10px;
}

.footer-mapa img:hover{
  transform: scale(1.1);
}


.rejestracja-container{
  display: flex;
  flex-direction: row;
}

.rejestracja-nav-left{
  background-color: grey;
  color:rgb(188, 188, 188);
  height: 90vh;
  width: 15vw;
  padding: 10px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

.rejestracja-kalendarz{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dzien{
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid gray;
  padding: 4px;
}

.green{
  background-color: green;
}





