*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-container ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.nav-container ul li{
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  
}




