*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f09cb;
}

.header-logo img{
  height: 100px;
}

.main-container{
  height: 60vh;
  background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(50, 240, 129, 1) 39%, rgba(255, 237, 74, 1) 100%);
}


.nav-container ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}

.nav-container ul li{
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  color: white;
  border-right: 3px solid rgba(255, 255, 255, 0.455);
  
}

.main-container{

}

.main-header{
  position: relative;
  top: 50px;
  left: 100px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  font-weight: 900;

}

.main-info{
  position: relative;
  top: 100px;
  left: 100px;
  color:white;

}

.main-info button{
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.863);
  color:white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.main-info button:hover{
  background-color: rgb(4, 4, 100);
}

.info-container{
  margin-top:100px ;
}

.info-banner{
  display: flex;
  flex-direction: row;
  margin: 50px;
  background-color: white;
  border-radius: 10px;

}




